html, body {
    height: 100%;
    overflow: hidden;
    background-image: url("../../public/assets/ui/game_background.gif");
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
     
    height: 100vh;     
    width: 100vw;  
}

.container img {
    margin-bottom: -3%;
    max-width: 100vmax;  
    max-height: 60vmax;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    z-index: 1;   
}

.menu-buttons button {
    font-family: "BubbleFont";
    font-size: 4vmax;
    color: rgba(255, 192, 203, 0.75);

    margin-bottom: 15%;   
    border: 0;
    cursor: pointer; 
    background: none; 

    padding: 2vh 2vw;   
    transition: transform 0.2s ease, text-shadow 0.3s ease;
}

.brighten { filter: brightness(120%); }
