#menu-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 70%;
}

.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

.bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.menu-button {
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    background: none;
    border: 0;
    cursor: pointer;
}

.menu-button:hover {
    font-size: 4vw;
}

#help {
    margin-top: 10%;
}

.brighten { filter: brightness(120%); }
