html, body {
    height: 100%;
    overflow: hidden;
    background-image: url("https://liwenweng.github.io/The-Match-Game/game/public/assets/ui/game_background.gif");
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
     
    height: 100vh;     
    width: 100vw;  
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes upAndDown {
    0% { transform: translateY(0); } 
    50% { transform: translateY(-1.5vmin); }
    100% { transform: translateY(0); } 
}

.shake {
    display: inline-block;
    animation: shake 0.5s ease-in-out;
}

.brighten { filter: brightness(120%); }
