html, body {
    height: 100%;
    overflow: hidden;
    background-image: url("../../../public/assets/ui/game_background.gif");
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
     
    height: 100vh;     
    width: 100vw;  
}

.brighten { filter: brightness(120%); }
