.container img {
    margin-top: -10%;
    margin-bottom: -3%;
    max-width: 100vmax;  
    max-height: 60vmax;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    z-index: 1;   
}

.menu-buttons button {
    font-family: "BubbleFont";
    font-size: 4vmax;
    color: rgba(255, 192, 203, 0.75);

    margin-bottom: 15%;   
    border: 0;
    cursor: pointer; 
    background: none; 

    padding: 2vh 2vw;   
    transition: transform 0.2s ease, text-shadow 0.3s ease;
}
